<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cari Digimon Favorit</title>
    <style>
    body {
        background-image: url("https://images4.alphacoders.com/505/thumb-1920-50586.jpg");
       }
    </style>
</head>
<body>
    <center><br>
        <br>
        <br><br><br><br><br><br><br>
    <h1><b>Masukkan Nama Digimon Favorit Kamu</b></h1>
    <hr>
    <form method='POST' action='http://localhost:5000/CariDigi'>
        <input type='text' name='digimon' placeholder="Masukkan Nama Digimon..."/>
        <input type='submit' value='Cari Digimon'/>
    </form>
    </center>
</body>
</html>